body {
    font-family: "Lato", sans-serif;
    color: white;
    text-align: center;
    width: 95%;
    margin: auto;

    background: url('/images/atomist-starry-night.jpg'), #1B2937 300px;
    background-color: #172330;
    /* I will try experiment with this later, to get the background image-colour combo */
    /* linear-gradient(transparent, #1B2937, #172330 ) */
    background-repeat: no-repeat;
}

nav {
    background-color: none;
    font-weight: 800;
    letter-spacing: 2.5px;
    font-size: 15px;
    margin-top: 5px;
}

nav li {
    margin-top: 5%;
}

/* I had to match the specificity of the bootstrap CSS to be able to change some styles */
.nav > li > a {
    color: white;
    transition: color 0.4s;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    color: #5bc399;
  }

#nav-btn {
      height: 40px;
      width: 139px;
      font-weight: 800;
      background-color: transparent;
      border: 2px solid #5bc399;
      color: #5BC399;
      margin-top: 10%;
      letter-spacing: 1.5px;
      font-size: 12px;
  }

  #nav-btn:hover {
    background-color: #5BC399;
    color: white;
  }

#sign-in {
    margin-top: 5%;
    font-weight: 400;
}

.navbar-brand img {
    height: 55px;
}

#title {
    margin: 10%;
    margin-bottom: 7%;
}

#title h1 {
    font-size: 450%;
    font-weight: 500;
}

/* Added custom styling to the bootstrap button to more closely match the original */
.get-started-btn {
    background-color: #5BC399;
    border-color: #5BC399;
    padding: 18px;
    width: 190px;
    height: 65px;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 5px;
}

.get-started-btn:hover {
    background-color: #5BC399;
    border-color: #5BC399;
}

#title button {
    margin: 5%;
}


/* Just adding some margins so that its not stuck to the edges. Can be removed if needed */
#desc {
    margin-bottom: 40px;
}

/* Self explanatory. Sizing the images and atting some space at the bottom */
.image {
    height: 90px;
    margin-bottom: 15px;
}

.icon-header h3 {
    font-weight: 600;
    letter-spacing: 1px;
}

/* More margins for space and positioning */
.description {
    margin-top: 40px;
    margin-bottom: 80px;
}

.description p {
    font-size: 19.7px;
}

/* The lists are the only parts of the page with text not aligned center */
.description ul {
    text-align: left;
    font-size: 16px;
    margin-top: 45px;
    color: #5bc399;
}

/* Added some space around each list item. Also tried a technique to style the bullet points.
Changed the colour to the green that matches the original and then wrapped all the text in span tags.*/
.description li {
    margin: 20px;
}

/* Then I changes only the span colour back to the light grey shade */
.description span {
    color: #AAAEBD;
}

/* For responsive design (devices with screens smaller than 768 pixels) */
@media screen and (max-width: 768px) {


}